<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>Mars Rover</title>
	
	<link rel="stylesheet" type="text/css" href="../../static/stylesheets/vendors/bootstrap.min.css" th:href="@{/stylesheets/vendors/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" href="../../static/stylesheets/MarsRovers.css" th:href="@{/stylesheets/MarsRovers.css}" />
</head>
<body class="layout-simple-page">
	
		<div class="layout-simple-page__container">
			<form method="POST" class="form-vertical" th:object="${rover}" th:action="@{/}">
				
				<div class="simple-panel">
				
					<div class="simple-panel__box">
					
						<!--  MENSAGEM DE SUCESSO -->
						<div class="alert  alert-success  alert-dismissible" th:if="${!#strings.isEmpty(mensagem)}">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<span th:text="${mensagem}"></span>
						</div>
						
						<!--  MENSAGEM DE FRACASSO NA VALIDAÇÃO -->
						<div class="alert  alert-danger  alert-dismissible" role="alert" th:if="${#fields.hasAnyErrors()}" th:fragment="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<th:block th:each="error: ${#fields.detailedErrors()}">
								<div>
									* 
									<span th:text="${error.message}"></span>
								</div>
						</div>
	
						<div class="form-group" th:classappend="${#fields.hasErrors('upperRightCoord')} ? has-error">
							<label for="upperRightCoord" class="control-label">Upper-right coordinates of the plateau(X Y)</label>
							<input id="upperRightCoord" type="text" class="form-control  js-upper-right-coord" th:field=*{upperRightCoord}/>
						</div>
						
						<div class="form-group" th:classappend="${#fields.hasErrors('roverPosition')} ? has-error">
							<label for="roverPosition" class="control-label">Rover's position(X Y H)</label>
							<input id="roverPosition" type="text" class="form-control  js-rover-position" th:field=*{roverPosition}/>
						</div>
					
						<div class="form-group" th:classappend="${#fields.hasErrors('roverMovements')} ? has-error">
							<label for="roverMovements" class="control-label">Rover's movements</label>
							<input id="roverMovements" type="text" class="form-control" th:field=*{roverMovements}/>
						</div>
						
						<div class="form-group  center">
							<button class="btn  btn-primary" type="submit">Calcular</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		
		<script src="../../static/javascripts/vendors/jquery-3.2.1.min.js" th:src="@{/javascripts/vendors/jquery-3.2.1.min.js}"></script>
		<script src="../../static/javascripts/vendors/jquery.mask.min.js" th:src="@{/javascripts/vendors/jquery.mask.min.js}"></script>
		<script src="../../static/javascripts/MarsRovers.js" th:src="@{/javascripts/MarsRovers.js}"></script>
</body>
</html>